@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom colors in to tailwind */
@layer base {
  :root {
    --color-primary-50: #f2f8fd;
    --color-primary-100: #e3eefb;
    --color-primary-200: #c1ddf6;
    --color-primary-300: #8bc2ee;
    --color-primary-400: #4da2e3;
    --color-primary-500: #2687d1;
    --color-primary-600: #176ab2;
    --color-primary-700: #145590;
    --color-primary-800: #144673;
    --color-primary-900: #173e63;
    --color-primary-950: #0f2842;
    --background: #e2e8f0; /* Color en modo claro */
    --text-foreground: #f2f8fd;
    --title-foreground: #c1ddf6;
  }
  [data-theme="dark"] {
    --background: #0f2842; /* Color en modo oscuro */
    --text-foreground: #176ab2;
    --title-foreground: #176ab2;
  }
}

/* font families */
@font-face {
  font-family: "Coolvetica Condensed RG";
  src: url("./assets/fonts/CoolveticaCondensedRG.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica RG It";
  src: url("./assets/fonts/CoolveticaRGIt.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Coolvetica RG";
  src: url("./assets/fonts/CoolveticaRG.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Compressed";
  src: url("./assets/fonts/helvetica-compressed-5871d14b6903a.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("./assets/fonts/helvetica-light-587ebe5a59211.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("./assets/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
