@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom colors in to tailwind */
@layer base {
  :root {
    --color-primary-50: #f2f8fd;
    --color-primary-100: #e3eefb;
    --color-primary-200: #c1ddf6;
    --color-primary-300: #8bc2ee;
    --color-primary-400: #4da2e3;
    --color-primary-500: #2687d1;
    --color-primary-600: #176ab2;
    --color-primary-700: #145590;
    --color-primary-800: #144673;
    --color-primary-900: #173e63;
    --color-primary-950: #0f2842;
    --background: #f2f8fd;
    --text-foreground: #0B1E31;
    --accent-color:#2687d1
  }
  [data-theme="dark"] {
    --background: #0f2842;
    --text-foreground: #e3eefb;
    --title-foreground: #176ab2;
  }


/* font families */
@font-face {
  font-family: "Onest Variable";
  src: url("./assets/fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
}